body {
font-family: Arial, sans-serif;
background: #0f172a;
color: white;
text-align: center;
}

h1 {
color: #38bdf8;
}

.container {
margin-top: 30px;
}

button {
margin: 10px;
padding: 12px 20px;
border: none;
border-radius: 8px;
background: #1e293b;
color: white;
cursor: pointer;
transition: 0.3s;
}

button:hover {
background: #38bdf8;
color: black;
}

.resultado {
margin-top: 30px;
font-size: 18px;
}
